<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:config('app.app_name.app_title')} - 欢迎页</title>
    {:widget('All/css')}
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins text-center text-lowercase"><h2>{:config('app.app_name.app_title')}</h2></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <pre>
                            SVN代码更新代码：svn co svn://121.41.33.65/ProjectResources/2018/2018-04-30-goutao/4.Code/goutao --username xiewei --password xiewei0248
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>