span.label{font-size:12px;}
.hide{display:none;}
.echarts_byjija{height:400px;}
.panel table thead{text-indent:8px;height:36px;line-height: 36px;}

.label-jija1{background-color:#78C06E;color:#fff;}
.label-jija2{background-color:#F65E8D;color:#fff;}
.label-jija3{background-color:#F6BF26;color:#fff;}
.label-jija4{background-color:#F65E5E;color:#fff;}
.label-jija5{background-color:#5E97F6;color:#fff;}
.label-jija6{background-color:#9A89B9;color:#fff;}
.label-jija7{background-color:#A1887F;color:#fff;}
.label-jija8{background-color:#FF943E;color:#fff;}
.label-jija9{background-color:#323334;color:#fff;}
.label-jija10{background-color:#5EC9F6;color:#fff;}
.label-jija11{background-color:#3BC2B5;color:#fff;}
.label-jija12{background-color:#5C6BC0;color:#fff;}
.label-jija13{background-color:#BD84CD;color:#fff;}
.label-jija14{background-color:#6BB5CE;color:#fff;}
.label-jija15{background-color:#C5CB63;color:#fff;}
.label-jija16{background-color:#FF8E6B;color:#fff;}
.label-jija17{background-color:#78919D;color:#fff;}



