<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:config('app.app_name.app_title')} - 幻灯片管理</title>
    {:widget('All/css')}
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="btn-group hidden-xs tooltip_default" id="deal_list_table_Toolbar" role="group">
                    <button type="button" class="btn btn-outline btn-default" onclick="self.location.reload()" data-placement="top" data-toggle="tooltip" data-original-title="刷新本页">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline btn-default" onclick="adv_add()" data-placement="top" data-toggle="tooltip" data-original-title="添加幻灯片">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <table
                    id="deal_list_table"
                    data-toggle="table"
                    data-ajax="list_get"
                    data-query-params="queryParams"
                    data-sort-name="id"
                    data-sort-order="asc"
                    data-mobile-responsive="true"
                    data-side-pagination="server"
                    data-pagination="true"
                    data-icon-size="outline"
                    data-row-style="rowStyle"
                    data-search="true"
                    data-toolbar="#deal_list_table_Toolbar"
                    data-search="false"
                    data-show-refresh="true"
                    data-show-toggle="false"
                    data-show-columns="false"
                    data-show-export="true"
                    data-unique-id="id"
                    data-page-list="[15,30,50,100]"
                    data-page-size="15">
                    <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="name" data-sortable="true">标题</th>
                            <th data-field="link" data-sortable="true">链接地址</th>
                            <th data-field="is_enabled" data-sortable="true" data-formatter="is_enabled">启用</th>
                            <th data-field="orders" data-sortable="true">排序</th>
                            <th data-field="action" data-align="center" data-formatter="actionFormatter"
                                data-events="actionEvents">操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    {:widget('All/js')}
    <script type="text/javascript">
        var rowcount=-1;
        var $table = $('#deal_list_table');
        window.actionEvents = {
            'click .adv_edit':function(e, value, row){
                layer.open({
                    scrollbar: false,
                    shade: [0.3, '#ffffff'],
                    type: 2,
                    title: '编辑幻灯片',
                    shadeClose: true,
                    skin:'layui-layer-rim',
                    area: ['90%', '90%'],
                    content: "{:url('/admin/Slide/slide_edit_page')}",
                    success: function(layero, index){
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.autofill(row);
                    }
                });
            },

            'click .del_rows':function(e,value,row){
                layer.confirm('确定删除?',{icon:3,title:'提示'},function(index){
                    $.ajax({type:'post',dataType:"json",url:"{:url('del_rows')}",data:{id:row.id},
                        success:function(data){
                            if (data.code) {
                                toastr['success'](data.msg);
                                $table.bootstrapTable('refresh');
                            }else{
                                toastr['error'](data.msg);
                            }
                        },error:function(){
                            toastr['error']("请求错误");
                        }
                    });
                    layer.closeAll();
                });
            },
        };
        function adv_add(){
            layer.open({
                scrollbar: false,
                shade: [0.3, '#ffffff'],
                type: 2,
                title: '添加幻灯片',
                shadeClose: true,
                skin:'layui-layer-rim',
                area: ['85%', '85%'],
                content: "{:url('/admin/Slide/slide_edit_page')}",
            });
        }

        function actionFormatter(value) {
            return [
                '<div class="btn-group dropleft"><button class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button><ul class="dropdown-menu"><li><a class="adv_edit" href="javascript:void(0)">编辑</a></li><li><a class="del_rows" href="javascript:void(0)">删除</a></li></ul></div>'
            ].join('');
        }

        function is_enabled(value,row) {
            value=parseInt(value);
            var s="";
            switch (value){
                case 0:s="<span onclick=\"set_yesorno(this)\" style=\"cursor:pointer;\" class=\"label label-success\">禁止</span>";break;
                case 1:s="<span onclick=\"set_yesorno(this)\" style=\"cursor:pointer;\" class=\"label label-info\">显示</span>";break;
                default:s="<span class=\"label label-danger\">异常</span>";break;
            }
            return s;
        }


        function set_yesorno(obj) {
            layer.load();
            var row_id=$(obj).closest("tr").find("td:eq(0)").html();
            var row_index=$(obj).closest("tr").index();
            var row_obj=$table.bootstrapTable('getRowByUniqueId',row_id);
            var field=$(obj).closest("td").index();
            var field_str="";
            var field_value=0;
            switch (field){
                case 3:field_str="is_enabled";field_value=row_obj.is_enabled;break;
                default:layer.closeAll('loading');toastr['error']("出现异常");return;
            }
            field_value==1?field_value=0:field_value=1;

            $.ajax({type:'post',async:false,dataType:"json",url:"{:url('set_status')}",data:{id:row_id,field:field_str,value:field_value},
                success:function(data){
                    if (data.code) {
                        $table.bootstrapTable('updateCell',{
                            index:row_index,
                            field:field_str,
                            value:field_value
                        });
                        toastr['success'](data.msg);
                    }else{
                        toastr['error'](data.msg);
                    }
                },error:function(){
                    toastr['error']("请求错误");
                }
            });
            layer.closeAll('loading');
        }

        function queryParams(params){
            return {
                pageSize: params.limit,
                pageNumber: params.offset,
                sort:params.sort,
                order:params.order,
                search:params.search,
            };
        }

        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning'];
            if (index % 2 === 0) {
                rowcount++;
                if (rowcount>3) {
                    rowcount=0;
                }
                return {classes: classes[rowcount]};
            }
            return {};
        }

        function list_get(params){
            $.ajax({type:'post',dataType:"json",url:"{:url('list_get')}",data:params.data,
                success:function(data){
                    params.success({
                        total: data.total,
                        rows: data.rows
                    });
                },error:function(){
                    toastr['error']("请求错误");
                }
            });
        }
    </script>

</body>
</html>
