<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{:config('app.app_name.app_title')} - 幻灯片添加编辑</title>
    {:widget('All/css')}
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal" role="form" action="{:url('slide_edit')}">
                    <input name="id" type="hidden"/>
                    <input name="img" type="hidden"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">幻灯片标题：</label>
                        <div class="col-sm-3">
                            <input name="name" maxlength="12" type="text" placeholder="幻灯片标题" class="form-control col-xs-6 col-sm-6" autocomplete="off"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">幻灯片图片：<br><small class="text-warning">推荐尺寸:750*300 单位px</small></label>
                        <div class="col-sm-6" id="layer-photos-demo">
                            <img id="img" class="feed-photo" width="750" height="300" src="http://iph.href.lu/750x300?text=示例图片&fg=AABBCC&bg=EEDDAA" alt="image">
                        </div>
                        <div class="col-sm-2">
                            <div class="picker pull-right"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">上传</span></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">幻灯片链接：</label>
                        <div class="col-sm-3">
                            <input name="link" type="text" placeholder="幻灯片链接" class="form-control col-xs-6 col-sm-6" autocomplete="off"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序：<br><small class="text-info">同种类型数字越大排名越前</small></label>
                        <div class="col-sm-3">
                            <input name="orders" type="text" placeholder="排序" class="form-control col-xs-6 col-sm-6" autocomplete="off"/>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary">保存</button>&nbsp;
                            <button type="button" class="btn btn-warning" onclick="close_layer(0)">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {:widget('All/js')}
    <script type="text/javascript">


        var uploader = WebUploader.create({
            server: '{:url("/Admin/Index/contract_files")}',
            pick: {
                id:'.picker',
                multiple:false
            },
            compress: null,
            fileSingleSizeLimit:1048576,
            auto:true,
            accept: {
                title: '头像',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/png,image/jpeg,image/gif,image/bmp'
            }
        });
        uploader.on('error',function(handler){
            toastr['error']('错误类型：'+handler);
        });
        uploader.on('beforeFileQueued',function(file){
            uploader.reset();
        });
        uploader.on('fileQueued', function(file){
            layer.load(0,{shade: [0.3,'#fff']});
        });
        uploader.on('uploadAccept', function(file,response){
            layer.closeAll('loading');
            if (response.code==200) {
                $('input[name="img"]').val(response.data);
                $("#img").attr('src',response.data);
                toastr['success']('已成功上传');
                return true;
            }else{
                toastr['error'](response.error);
                return false;
            }
        });

        //表单提交
        $(document)
            .ajaxStart(function(){
                $("button:submit").attr("disabled", true);
            })
            .ajaxStop(function(){
                $("button:submit").attr("disabled", false);
            });

        $("form").submit(function(){
            layer.load(0,{shade: [0.3,'#fff']});
            var self = $(this);
            $.ajax({type:'post',url:self.attr("action"),data:self.serialize(),
                async:false,
                success:function(data){
                    if(data.code){
                        parent.toastr['success'](data.msg);
                        parent.$table.bootstrapTable('refresh');
                        close_layer(0);
                    } else {
                        toastr['error'](data.msg);
                    }
                },error:function(){
                        toastr['error']("请求错误");
                }
            });
            layer.closeAll('loading');
            return false;
        });

        function autofill(obj) {
            //某些页面的autofill貌似用复杂了。虽然功能没问题。
            $("form").autofill(obj);
            if(obj.img){
                $("#img").attr('src',obj.img);
            }
        }
    </script>

</body>
</html>
